In [2]:
import numpy as np
import pandas as pd

In [5]:
movies = pd.read_csv("movies.csv")

In [7]:
type(movies)

pandas.core.frame.DataFrame

In [8]:
movies

     Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]

In [11]:
movies.head()

   Rank                         Title       Studio       Gross  Year
0     1             Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2                        Avatar          Fox  $2,789.70   2009
2     3                       Titanic    Paramount  $2,187.50   1997
3     4  Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015
4     5        Avengers: Infinity War  Buena Vista  $2,048.40   2018

In [12]:
len(movies)

782

movies.index

In [16]:
movies.dtypes

Rank       int64
Title     object
Studio    object
Gross     object
Year       int64
dtype: object

In [18]:
breads = pd.Series(["flatbread", "sweet bread", "yeast bread"])

In [19]:
breads

0      flatbread
1    sweet bread
2    yeast bread
dtype: object

In [20]:
type(breads)

pandas.core.series.Series

In [22]:
breads = pd.Series(data = ["flatbread", "sweet bread", "yeast bread", None], 
         index = ["Monday", "Tuesday", "Wednesday", "Thursday"], 
                  name = "breads")

In [23]:
breads

Monday         flatbread
Tuesday      sweet bread
Wednesday    yeast bread
Thursday            None
Name: breads, dtype: object

In [24]:
movies.iloc[0]

Rank                      1
Title     Avengers: Endgame
Studio          Buena Vista
Gross            $2,796.30
Year                   2019
Name: 0, dtype: object

In [26]:
movies.iloc[1]

Rank               2
Title         Avatar
Studio           Fox
Gross     $2,789.70
Year            2009
Name: 1, dtype: object

In [37]:
pokemon = pd.read_csv("pokemon.csv", header = 0, names = ["Name"]).squeeze()

In [38]:
hp = pd.read_csv("hp.csv", header = 0, names = ["hp"]).squeeze()

In [40]:
Pokemon = pd.Series(data = hp, dtype = int)

In [41]:
Pokemon.index = pokemon

In [42]:
Pokemon

Name
Bulbasaur      45
Ivysaur        60
Venusaur       80
Charmander     39
Charmeleon     58
             ...
Regieleki      80
Regidrago     200
Glastrier     100
Spectrier     100
Calyrex       100
Name: hp, Length: 898, dtype: int64

In [44]:
Pokemon.head(2)

Name
Bulbasaur    45
Ivysaur      60
Name: hp, dtype: int64

In [45]:
Pokemon.tail(4)

Name
Regidrago    200
Glastrier    100
Spectrier    100
Calyrex      100
Name: hp, dtype: int64

In [48]:
Pokemon["hp"].mean()

KeyError: 'hp'

In [34]:
len(hp)

898