# Pandas Practice
# Takao Oba


Homework copyright Vivian Lew. Problems have been adapted from the exercises in Think Python 2nd Ed by Allen B. Downey.

The questions have been entered into this document. You will modify the document by entering your code.

Make sure you run the cell so the requested output is visible. Submit the finished document as an HTML file and also your ipynb.

### Introduction:

- Let's look at some large data on Occupation
- This is an extra from the American Community Survey in March 2020

In [1]:
### Import the necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
### Import the dataset HW11_12.csv
### Assign it to a variable called users and use the 'ID' as index
users = pd.read_csv("HW11_12.csv", index_col='ID')

/Users/takaooba/anaconda3/lib/python3.9/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
# Problem 1. Display the last 10 entries. (done for you)
users.tail(10)

,AGEP,SEX,PUMA NAME,TITLE
ID,,,,
1065415,35,1,San Diego County (Northwest)--Vista City,"Unemployed, with no work experience in the las..."
1065416,42,2,"San Diego County (Central)--Lakeside, Winter G...","Unemployed, with no work experience in the las..."
1065417,20,2,San Diego County (Southwest)--Chula Vista (Wes...,"Unemployed, with no work experience in the las..."
1065418,19,2,Fresno County (North Central)--Fresno City (No...,"Unemployed, with no work experience in the las..."
1065419,16,1,Los Angeles County (Southeast)--Long Beach (Ce...,"Unemployed, with no work experience in the las..."
1065420,18,1,"Sacramento County (South)--Galt, Isleton Citie...","Unemployed, with no work experience in the las..."
1065421,45,2,Los Angeles County (South Central)--Long Beach...,"Unemployed, with no work experience in the las..."
1065422,32,2,Fresno County (Central)--Fresno City (Southeast),"Unemployed, with no work experience in the las..."
1065423,17,1,Merced County (Northeast)--Merced & Atwater Ci...,"Unemployed, with no work experience in the las..."
1065424,30,2,Solano County (Southwest)--Vallejo & Benicia C...,"Unemployed, with no work experience in the las..."

In [13]:
# Problem 2. How many observations and columns are in the data?
observations = len(users)
numcolumns = len(users.columns)
print("The number of observations in the data is: " + str(observations))
print("The number of columns in the data is: " + str(numcolumns))

The number of observations in the data is: 1065424
The number of columns in the data is: 4

In [14]:
# Problem 3. How many different occupations there are in this dataset?
dif_ocup = len(users["TITLE"].unique())
print("The number of different occupations there are in this dataset is: " + str(dif_ocup))

The number of different occupations there are in this dataset is: 530

In [19]:
# Problem 4. What is the most frequent occupation?
users["TITLE"].mode()
print("The most frequent occupation is other managers")

The most frequent occupation is other managers

In [40]:
# Problem 5. Discover what is the mean age per occupation.
# Sort the results and find the 3 occupations with the lowest mean age and the 3 with the highest
inter_var = users.groupby("TITLE").AGEP.mean()
print("The 3 occupations with the lowest mean age are")
print(inter_var.sort_values().head(3))
print("The 3 occupations with the highest mean age are")
print(inter_var.sort_values().tail(3))

The 3 occupations with the lowest mean age are
TITLE
Other protective service workers                                                      23.056576
Military enlisted tactical operations and air/weapons specialists and crew members    23.750333
Hosts and hostesses, restaurant, lounge, and coffee shop                              25.506550
Name: AGEP, dtype: float64
The 3 occupations with the highest mean age are
TITLE
Crossing guards and flaggers    55.479339
Travel agents                   55.954407
Tool and die makers             57.162963
Name: AGEP, dtype: float64

In [172]:
# Problem 6. Find the proportion of males by occupation and sort it from the most to the least
numerator=users.groupby(["TITLE","SEX"]).SEX.count()
denominator=users.groupby("TITLE").SEX.count()
fraction_values = numerator/denominator
inter_var = fraction_values.xs(1,level=1)
print(inter_var.sort_values(ascending = False))

TITLE
Boilermakers                                                     1.000000
Rail-track laying and maintenance equipment operators            1.000000
Tire builders                                                    1.000000
Small engine mechanics                                           0.994624
Cement masons, concrete finishers, and terrazzo workers          0.994253
                                                                   ...
Executive secretaries and executive administrative assistants    0.074559
Dental hygienists                                                0.069656
Speech-language pathologists                                     0.059499
Preschool and kindergarten teachers                              0.034561
Skincare specialists                                             0.012251
Name: SEX, Length: 530, dtype: float64

In [176]:
# Problem 7. For each occupation, calculate the minimum and maximum ages
# See groupby and agg() to perform multiple aggregate functions at once
print("The Maximum age for each occupation are")
print(users.groupby("TITLE").AGEP.max())
print("The Minimum age for each occupation are")
print(users.groupby("TITLE").AGEP.min())

The Maximum age for each occupation are
TITLE
Accountants and auditors                                              94
Actors                                                                94
Actuaries                                                             88
Acupuncturists                                                        85
Adhesive bonding machine operators and tenders                        71
                                                                      ..
Welding, soldering, and brazing workers                               90
Wholesale and retail buyers, except farm products                     94
Woodworking machine setters, operators, and tenders, except sawing    70
Word processors and typists                                           94
Writers and authors                                                   94
Name: AGEP, Length: 530, dtype: int64
The Minimum age for each occupation are
TITLE
Accountants and auditors                                              17
Actors                                                                16
Actuaries                                                             22
Acupuncturists                                                        26
Adhesive bonding machine operators and tenders                        21
                                                                      ..
Welding, soldering, and brazing workers                               16
Wholesale and retail buyers, except farm products                     16
Woodworking machine setters, operators, and tenders, except sawing    19
Word processors and typists                                           16
Writers and authors                                                   16
Name: AGEP, Length: 530, dtype: int64

In [210]:
# Problem 8. For each combination of occupation and gender, calculate the mean age.
# Arrange the results in a table so each row is an occupation, and you have a 
# column of the average male age and another column with the average female age.
# Sort the resulting table by Female mean age from least to greatest
out = users["AGEP"].groupby([users["TITLE"],users["SEX"]]).mean()
print(out.unstack().sort_values(2))

SEX                                                         1          2
TITLE
Other protective service workers                    24.052163  21.695652
Explosives workers, ordnance handling experts, ...  30.490000  22.200000
Umpires, referees, and other sports officials       31.322767  23.493671
Military enlisted tactical operations and air/w...  23.722720  23.975610
Hosts and hostesses, restaurant, lounge, and co...  27.007673  25.155090
...                                                       ...        ...
Small engine mechanics                              45.697297  66.000000
Underground mining machine operators                45.931034  68.666667
Boilermakers                                        45.763158        NaN
Rail-track laying and maintenance equipment ope...  47.458333        NaN
Tire builders                                       41.923077        NaN

[530 rows x 2 columns]

In [213]:
# Problem 9. For each occupation find the count of women and men
# Arrange the results in a table so each row is an occupation, similar to above
out = users["SEX"].groupby(users["TITLE"]).value_counts()
out.unstack()

SEX                                                        1         2
TITLE
Accountants and auditors                            0.368003  0.631997
Actors                                              0.512769  0.487231
Actuaries                                           0.600000  0.400000
Acupuncturists                                      0.413284  0.586716
Adhesive bonding machine operators and tenders      0.781250  0.218750
...                                                      ...       ...
Welding, soldering, and brazing workers             0.944606  0.055394
Wholesale and retail buyers, except farm products   0.420671  0.579329
Woodworking machine setters, operators, and ten...  0.867647  0.132353
Word processors and typists                         0.204790  0.795210
Writers and authors                                 0.460764  0.539236

[530 rows x 2 columns]

In [217]:
# Problem 10. Turn the counts above into proportions. e.g administrator 0.455696 0.544304
# Arrange results in increasing order of proportion men
out = users["SEX"].groupby(users["TITLE"]).value_counts("F")
print(out.unstack())

SEX                                                        1         2
TITLE
Accountants and auditors                            0.368003  0.631997
Actors                                              0.512769  0.487231
Actuaries                                           0.600000  0.400000
Acupuncturists                                      0.413284  0.586716
Adhesive bonding machine operators and tenders      0.781250  0.218750
...                                                      ...       ...
Welding, soldering, and brazing workers             0.944606  0.055394
Wholesale and retail buyers, except farm products   0.420671  0.579329
Woodworking machine setters, operators, and ten...  0.867647  0.132353
Word processors and typists                         0.204790  0.795210
Writers and authors                                 0.460764  0.539236

[530 rows x 2 columns]

In [198]:
# Choose 5 different geographies of interest to you
# and create a subset of just the geographies you selected
# print the first 5 rows of the result
users["PUMA NAME"].unique()
# Orange County (Central)--Irvine City (Central)
# Napa County--Napa City
# Shasta County--Redding City
# Lake & Mendocino Counties
# El Dorado County--El Dorado Hills

intervar = users[(users["PUMA NAME"] == "Orange County (Central)--Irvine City (Central)") | (users["PUMA NAME"] == "Napa County--Napa City") | (users["PUMA NAME"] == "Shasta County--Redding City") | (users["PUMA NAME"] == "Lake & Mendocino Counties") | (users["PUMA NAME"] == "El Dorado County--El Dorado Hills")]
print(intervar.head(5))

    AGEP  SEX                                       PUMA NAME  \
ID
1     33    1  Orange County (Central)--Irvine City (Central)
6     55    1  Orange County (Central)--Irvine City (Central)
28    68    1                          Napa County--Napa City
39    66    1  Orange County (Central)--Irvine City (Central)
52    78    1                     Shasta County--Redding City

                               TITLE
ID
1   Chief executives and legislators
6   Chief executives and legislators
28  Chief executives and legislators
39  Chief executives and legislators
52  Chief executives and legislators

In [201]:
# for the occupation 'Registered nurses', find the mean age of each region
users[users["TITLE"] == "Registered nurses"].groupby("PUMA NAME").AGEP.mean()

PUMA NAME
Alameda County (Central)--Hayward City                                  43.521739
Alameda County (East)--Livermore, Pleasanton & Dublin Cities            48.158730
Alameda County (North Central)--Castro Valley, San Lorenzo & Ashland    44.337838
Alameda County (North Central)--Oakland City (South Central)            47.681818
Alameda County (North)--Berkeley & Albany Cities                        48.415094
                                                                          ...
Ventura County (Southeast)--Simi Valley City                            45.182927
Ventura County (Southeast)--Thousand Oaks City                          52.714286
Ventura County (Southwest)--Oxnard & Port Hueneme Cities                48.389831
Ventura County (Southwest)--San Buenaventura (Ventura) City             52.660377
Yolo County--Davis, Woodland & West Sacramento Cities                   50.642857
Name: AGEP, Length: 265, dtype: float64